*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  color: hotpink;
  background-color: #282828;
  /* display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
}

/* DRY principal */

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
